<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> My Site </title>
  <!-- Materialize: Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <!-- Materialize: NECESSARY FOR ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- WHAT GOOGLE FONTS SHALL WE USE? -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Amatic+SC|Shadows+Into+Light|Limelight|Rock+Salt' rel='stylesheet' type='text/css'> -->
  <!-- <link rel="styles" href='https://fonts.googleapis.com/css?family=Bungee+Shade' rel='stylesheet' type='text/css'> -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'> -->
  <link href='https://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../styles/main.css">

</head>


<body class="contactPage">
 <nav class="contactNav">
    <div class="nav-wrapper">
                                         <!-- side nav -->
 <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <img id="creek" class="background" src="../imgs/IMG_0226.jpg" height="160" width="100%" >
      <a href="#!user"><img class="circle" src="../imgs/IMG_0737.jpg" height="250" width="200"></a>
      <a href="#!name"><span class="white-text name">Chris Hill</span></a>
      <a href="#!email"><span class="white-text email">mailto:thorsdaddy77@gmail.com</span></a>
    </div></li>
    <li><a href="https://www.linkedin.com/in/zippoffer">linked in</a></li>
    <!-- <li><a href="#!">Second Link</a></li> -->
    <li><div class="divider"></div></li>
    <li><a href="../partials/portfolio.html"><span>portfolio</span></a></li>
    <li><a href="../index.html"><span>Home</span></a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                                      <!-- side nav    -->
      <span>Thank you for Visiting. Please Contact Me</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../index.html">Home</a></li>
        <li><a href="portfolio.html">portfolio</a></li>
      </ul>
    </div>
  </nav>



<div class="contactDiv">

 <div id="" class="container">
            <div class="row">
              <div class="col l12 s12">
                <!-- <h5 class="white-text">Footer Content</h5> -->
               <!--  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
              </div>
              <!-- <div class="col l12 offset-l2 s12"> -->
                <!-- <h5 class="white-text">Skills</h5> -->
                      <ul id="logos" class="container">

                      


                          <div class="col 3 offset-4 s3">
                              <li id="twitter"><a target="_blank" class="grey-text text-lighten-3" href="https://twitter.com/thorsdaddy1"><img src="../imgs/twitter-bird-1366218_960_720.png" alt="twitter" height="70" width="70"></a>
                              </li>
                          </div>




                          <div class="col 3 offset-4 s3">
                              <li id="email"><a class="grey-text text-lighten-3" href="mailto:thorsdaddy77@gmail.com"><img src="../imgs/Googlemaillogo.png" alt="thorsdaddy77@gmail.com" height="70" width="55"></a></li>

                        
                          </div>
 


                          <div class="col 3 offset-4 s3">
                              <li id="linkedin"><a target="_blank" class="grey-text text-lighten-3" href="https://www.linkedin.com/in/zippoffer"><img src="../imgs/Linkedin_circle.svg.png" alt="linkedin" height="70" width="70"></a></li>

                      
                          </div>



                          <div class="col 3 offset-4 s3">
                              <li id="github"><a target="_blank" class="grey-text text-lighten-3" href="https://github.com/Zippoffer"><img src="../imgs/github.png" alt="github" height="70" width="70"></a></li>

                             
                          </div>

                      </ul>


              </div>
            </div>
</div>
  <!-- ============= LINK TAGS ============= -->



  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  

  <script src="../app/controllers/parallax.js"></script>
  <script src="../app/controllers/modal.js"></script>
  <script src="../app/controllers/nav.js"></script>


</body>
</html>
