<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> My Site </title>
  <!-- Materialize: Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <!-- Materialize: NECESSARY FOR ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- WHAT GOOGLE FONTS SHALL WE USE? -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Amatic+SC|Shadows+Into+Light|Limelight|Rock+Salt' rel='stylesheet' type='text/css'> -->
  <!-- <link rel="styles" href='https://fonts.googleapis.com/css?family=Bungee+Shade' rel='stylesheet' type='text/css'> -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'> -->
  <link href='https://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../styles/main.css">

</head>


<body>

 <nav>
    <div class="nav-wrapper">
      <!-- <a href="#" class="brand-logo">my site</a> -->
      <span>check out my work!</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../index.html">index</a></li>
        <li><a href="contact.html">contact</a></li>
      </ul>
    </div>
  </nav>







<div id="skills" class="container">
            <div class="row">
              <div class="col l12 s12">
                <!-- <h5 class="white-text">Footer Content</h5> -->
               <!--  <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
              </div>
              <!-- <div class="col l12 offset-l2 s12"> -->
                <!-- <h5 class="white-text">Skills</h5> -->
                      <ul id="logos" class="">

<div class="col 3 offset-4 s3">
                              <li><a  class="grey-text text-lighten-3" href="https://peaceful-retreat-29195.herokuapp.com/"><img id="herokuapp" src="../imgs/Screen%20Shot%202016-09-10%20at%2012.25.54%20AM.png" alt="herokuapp" height="600" width="790"></a>
                              </li>

                              <li><a class="grey-text text-lighten-3" href="https://comicsapp-db242.firebaseapp.com/"><img id="comicapp" src="../imgs/Screen%20Shot%202016-09-11%20at%2012.20.56%20AM.png" alt="comicapp" height="600" width="790"></a></li>

                              <li><a class="grey-text text-lighten-3" href="https://github.com/Zippoffer/gauntlet-ironmen"><img id="barwars" src="../imgs/Screen%20Shot%202016-07-08%20at%203.32.27%20PM.jpg" alt="barwars" height="600" width="790"></a></li>

                          </div>

                      </ul>


              </div>
            </div>
          </div>




 

  <footer class="page-footer lime darken-2">
          <div class="container">
            <div class="row">
              </div>
            </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Zippoffer
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
          </div>
  </footer>
            

  <!-- ============= LINK TAGS ============= -->



  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  

  <script src="../app/controllers/parallax.js"></script>
  <script src="../app/controllers/modal.js"></script>



</body>
</html>
