<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> My Site </title>
  <!-- Materialize: Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <!-- Materialize: NECESSARY FOR ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- WHAT GOOGLE FONTS SHALL WE USE? -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Amatic+SC|Shadows+Into+Light|Limelight|Rock+Salt' rel='stylesheet' type='text/css'> -->
  <!-- <link rel="styles" href='https://fonts.googleapis.com/css?family=Bungee+Shade' rel='stylesheet' type='text/css'> -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'> -->
  <link href='https://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../styles/main.css">

</head>


<body class="portfolioPage">

 <nav>
    <div class="nav-wrapper">
                                         <!-- side nav -->
 <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <img id="creek" class="background" src="../imgs/IMG_0226.jpg" height="160" width="100%" >
      <a href="#!user"><img class="circle" src="../imgs/IMG_0737.jpg" height="250" width="200"></a>
      <a href="#!name"><span class="white-text name">Chris Hill</span></a>
      <a href="mailto:zippoffer@gmail.com"><span class="white-text email">email</span></a>
    </div></li>
    <li><a href="https://www.linkedin.com/in/zippoffer"><span class="white-text">linked in</span></a></li>
    <!-- <li><a href="#!">Second Link</a></li> -->
    <li><div class="divider"></div></li>
    <li><a href="../index.html"><span class="white-text">Home</span></a></li>
    <li><a href="../partials/contact.html"><span class="white-text">contact</span></a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                                      <!-- side nav    -->
      <!-- <a href="#" class="brand-logo">my site</a> -->
      <span>check out my work!</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../index.html">Home</a></li>
        <li><a href="contact.html">contact</a></li>
      </ul>
    </div>
  </nav>







<div id="work" class="container">
    <div class="row">
        <ul id="projects" class="container">

					<div class="col l6 s6">
								<div class="row">
                    <li class="liPort"><a  class="grey-text text-lighten-3" href="https://peaceful-retreat-29195.herokuapp.com/"><img id="herokuapp" src="../imgs/Screen%20Shot%202016-09-10%20at%2012.25.54%20AM.png" alt="herokuapp" ></a>
                    </li>

                    <li class="liPort"><a class="grey-text text-lighten-3" href="https://comicsapp-db242.firebaseapp.com/"><img id="comicapp" src="../imgs/Screen%20Shot%202016-09-11%20at%2012.20.56%20AM.png" alt="comicapp" ></a></li>
								</div>
					</div>
					<div class="col l6 s6">
								<div class="row">
		                <li class="liPort"><a class="grey-text text-lighten-3" href="https://github.com/Zippoffer/gauntlet-ironmen"><img id="barwars" src="../imgs/Screen%20Shot%202016-07-08%20at%203.32.27%20PM.jpg" alt="barwars" ></a></li>

		                <li class="liPort"><a class="grey-text text-lighten-3" href="https://github.com/Zippoffer/spa-group-chatty-mother-of-dragons"><img id="chatty" src="../imgs/Screen%20Shot%202016-09-18%20at%207.45.45%20PM.png" alt="chatty" ></a></li>
								</div>
					</div>
					<div class="col l6 s6">
								<div class="row">
			              <li class="liPort"><a class="grey-text text-lighten-3" href="https://github.com/Zippoffer/modern-js-quiz-Zippoffer"><img id="robotFighter" src="../imgs/Screen%20Shot%202016-09-18%20at%207.57.12%20PM.png" alt="robot fighter" ></a></li>

			              <li class="liPort"><a class="grey-text text-lighten-3" href="https://github.com/Zippoffer/spa-milestone-quiz-Zippoffer"><img id="carLot" src="../imgs/Screen%20Shot%202016-09-18%20at%207.51.22%20PM.png" alt="car lot" ></a></li>
								</div>
					</div>
					<div class="col l6 s6">
								<div class="row">
		                <li class="liPort"><a class="grey-text text-lighten-3" href="https://github.com/Zippoffer/wysiwyg"><img id="wysiwyg" src="../imgs/Screen%20Shot%202016-09-18%20at%208.10.52%20PM.png" alt="wysiwyg"></a></li>

								</div>
					</div>
    
      	</ul>
    </div>
 </div>

 

  <footer class="page-footer lime darken-2">
          <div class="container">
            <div class="row">
              </div>
            </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Zippoffer
            <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
            </div>
          </div>
  </footer>
            

  <!-- ============= LINK TAGS ============= -->



  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  

  <script src="../app/controllers/parallax.js"></script>
  <script src="../app/controllers/modal.js"></script>
  <script src="../app/controllers/nav.js"></script>


</body>
</html>
