

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title> My Site </title>
  <!-- Materialize: Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <!-- Materialize: NECESSARY FOR ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../styles/main.css">

</head>


<body class="portfolioPage">

 <nav>
    <div class="nav-wrapper">
                                         <!-- side nav -->
 <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <img id="creek" class="background" src="../imgs/IMG_0226.jpg" height="160" width="100%" >
      <a href="#!user"><img class="circle" src="../imgs/IMG_0737.jpg" height="250" width="200"></a>
      <a href="#!name"><span class="white-text name">Chris Hill</span></a>
      <a href="mailto:zippoffer@gmail.com"><span class="white-text email">email</span></a>
    </div></li>
    <li><a href="https://www.linkedin.com/in/zippoffer"><span class="white-text">linked in</span></a></li>
    <!-- <li><a href="#!">Second Link</a></li> -->
    <li><div class="divider"></div></li>
    <li><a href="../index.html"><span class="white-text">Home</span></a></li>
    <li><a href="../partials/contact.html"><span class="white-text">contact</span></a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                                      <!-- side nav    -->
      <!-- <a href="#" class="brand-logo">my site</a> -->
      <span>PROJECTS</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="../index.html">Home</a></li>
        <li><a href="contact.html">contact</a></li>
      </ul>
    </div>
  </nav>


<div id="work" class="container">
    <div class="row rows">
        <ul id="projects" class="container">

					<div class="col l6 s6">
								<div class="row rows">
                  


					<!-- <div class="col l6 s6">
					<div class="row rows"> -->
					<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../imgs/Screen%20Shot%202016-09-10%20at%2012.25.54%20AM.png">
					</div>
					<div class="card-content">
					<span class="card-title activator white-text text-darken-4">herokuapp<i class="material-icons right">more_vert</i></span>
					<p><a href="https://peaceful-retreat-29195.herokuapp.com/">check it out</a></p>
					</div>
					<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">herokuapp<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
					</div>
					<!-- </div>
					</div> -->




					<!-- <div class="col l6 s6">
					<div class="row rows"> -->
					<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../imgs/Screen%20Shot%202016-09-11%20at%2012.20.56%20AM.png">
					</div>
					<div class="card-content">
					<span class="card-title activator white-text text-darken-4">comicapp<i class="material-icons right">more_vert</i></span>
					<p><a href="https://comicsapp-db242.firebaseapp.com/">check it out</a></p>
					</div>
					<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">comicapp<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
					</div>
					<!-- </div>
					</div> -->
					                   
													</div>
										</div>
										<div class="col l6 s6">
													<div class="row rows">
							                


					<!-- <div class="col l6 s6">
					<div class="row rows"> -->
					<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../imgs/Screen%20Shot%202016-07-08%20at%203.32.27%20PM.jpg">
					</div>
					<div class="card-content">
					<span class="card-title activator white-text text-darken-4">barwars<i class="material-icons right">more_vert</i></span>
					<p><a href="https://github.com/Zippoffer/gauntlet-ironmen">check it out</a></p>
					</div>
					<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">barwars<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
					</div>
					<!-- </div>
					</div> -->



					<!-- <div class="col l6 s6">
					<div class="row rows"> -->
					<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../imgs/Screen%20Shot%202016-09-18%20at%207.45.45%20PM.png">
					</div>
					<div class="card-content">
					<span class="card-title activator white-text text-darken-4">chatty<i class="material-icons right">more_vert</i></span>
					<p><a href="https://github.com/Zippoffer/spa-group-chatty-mother-of-dragons">check it out</a></p>
					</div>
					<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">chatty<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
					</div>
					<!-- </div>
					</div> -->
													</div>
										</div>
										<div class="col l6 s6">
													<div class="row rows">
								             

					<!-- <div class="col l6 s6">
					<div class="row rows"> -->
					<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../imgs/Screen%20Shot%202016-09-18%20at%207.57.12%20PM.png">
					</div>
					<div class="card-content">
					<span class="card-title activator white-text text-darken-4">robotfighter<i class="material-icons right">more_vert</i></span>
					<p><a href="https://github.com/Zippoffer/modern-js-quiz-Zippoffer">check it out</a></p>
					</div>
					<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">robotfighter<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
					</div>
					<!-- </div>
					</div> -->


					<!-- <div class="col l6 s6">
					<div class="row rows"> -->
					<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../imgs/Screen%20Shot%202016-09-18%20at%207.51.22%20PM.png">
					</div>
					<div class="card-content">
					<span class="card-title activator white-text text-darken-4">carlot<i class="material-icons right">more_vert</i></span>
					<p><a href="https://github.com/Zippoffer/spa-milestone-quiz-Zippoffer">check it out</a></p>
					</div>
					<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">carlot<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
					</div>
					<!-- </div>
					</div> -->
								           

													</div>
										</div>
					<div class="col l6 s6">
					<div class="row rows">
					<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="../imgs/Screen%20Shot%202016-09-18%20at%208.10.52%20PM.png">
					</div>
					<div class="card-content">
					<span class="card-title activator white-text text-darken-4">WYSIWYG<i class="material-icons right">more_vert</i></span>
					<p><a href="https://github.com/Zippoffer/wysiwyg">check it out</a></p>
					</div>
					<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">WYSYWYG<i class="material-icons right">close</i></span>
					<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
					</div>
					</div>
					</div>
    
      	</ul>
    </div>
 </div>

 


            

  <!-- ============= LINK TAGS ============= -->



  <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  

  <script src="../app/controllers/parallax.js"></script>
  <script src="../app/controllers/modal.js"></script>
  <script src="../app/controllers/nav.js"></script>


</body>
</html>
