
.portfolioPage {
	background-image: url(../imgs/ocean.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center top;
}
.contactPage {
	background-color: black;
}
.contactDiv {
	background-image: url(../imgs/hintergrund-tapete-1454259975N2T.jpg);
	background-size:80% 700px;
	background-position: center bottom;
	background-repeat: no-repeat;
}
.homePage {
	background-color: black;
}

#logos	{
	display: inline-block;
	padding-top: 53%;
	position:relative;
	left: 49px;
}
#projects {
	display: inline;
	position:relative;
	left: 123px;
}
li {
	padding-left: 100px;
	padding-top: 12%;
}

.liPort {
	position:relative;
	right: 163px;
}

.logo {
	font-family: slackey;
	font-size: 2vw;
}
span {
	display: inline;
}
#herokuapp {
	box-shadow: 8px 12px 32px black;
	height:250px;
	width:330px;
}
#comicapp {
	box-shadow: 8px 12px 32px black;
	height:250px;
	width:330px;
}
#barwars {
	box-shadow: 8px 12px 32px black;
	height:250px;
	width:330px;
}
#chatty {
	box-shadow: 8px 12px 32px black;
	height:250px;
	width:330px;
}
#robotFighter {
	box-shadow: 8px 12px 32px black;
	height:250px;
	width:330px;
}
#carLot {
	box-shadow: 8px 12px 32px black;
	height:250px;
	width:330px;
}
#wysiwyg {
	box-shadow: 8px 12px 32px black;
	height:250px;
	width:330px;
}

nav {
	background-color: black;
	border-bottom: 1px solid white;
}

.side-nav {
	background-color: black;
}

footer {
	background-image: url(../imgs/darktexture.jpg);
}

.brand-logo {
	position: relative;
	top: -120px;
	margin-left: 3%;
}

#modal {
	margin: 4% 0 4% 33%;
	height: 150px;
	width: 150px;
	border-radius: 200%;
}

#modalImage {
	height: 200px;
	width: 160px;
	border-radius: 200%;
	position: relative;
	right: 32px;
	bottom: 22px;
	object-fit: fill;
}

#modal1 {
	background-color: wheat;
	height: 530px;
	width: 530px;
	border-radius: 200%;
	text-align: center;
}

#creek {
	height: 200px;
	width: 200px;
	border-radius: 200%;
}


#skills {
	background-image: url(../imgs/hintergrund-tapete-1454259975N2T.jpg);
	background-size: 1000px 100%;
}

.contactNav {
	margin-bottom: 3%;
}

#par {
	/*height: 200px;*/
	height: 400px;
}
.banner {
	text-align: center;
	position: relative;
	top: 220px;
	left: 110px;
	font-size: 4vw;
	font-family: slackey;
	color: red;
}

	/*cards*/

.card {
	margin-top: 23%;
	margin-left: 10%;
	position: relative;
	right: 120px;
	/*max-width: 100%;*/
	max-width: 400px;
}

.activator {
height: 240px;
}
.card-content {
	background-color: black;
}
.bioCardContent {
	background-color: black;
}
.bio {
	color: white;
	background-color: black;
	max-width: 600px;
	float: right;
	margin-right: 13%;
	margin-top: 12%;
}
#bio {
	max-width: 600px;
}
.bioImage {
	height: 430px;
	max-width: 330px;
	margin: 3% 2% 3% 12%;
}
#project {
	color: white;
	position: relative;
	left: 33px;
}
#contact {
	color: white;
	position: relative;
	left: 33px;
}



