
.portfolioPage {
	background-color: darkred;
}
.contactPage {
	background-color: black;
}
.contactDiv {

		background-image: url(../imgs/hintergrund-tapete-1454259975N2T.jpg);
		background-size:80% 700px;
		background-position: center bottom;
		background-repeat: no-repeat;
}
.homePage {
	background-color: black;
}

#logos	{
	display: inline-block;
	padding-top: 53%;
	position:center;
}
#projects {
	display: inline-block;
	position:center;
}
li {
	padding-left: 100px;
	padding-top: 12%;
}

.logo {
	font-family: slackey;
	font-size: 2vw;
}
span {
	display: inline;
	/*text-align: center;*/
}
#herokuapp {
	box-shadow: 8px 12px 32px black;
	height:400px;
	width:590px;
	/*float: left;*/
}
#comicapp {
	box-shadow: 8px 12px 32px black;
	height:400px;
	width:590px;
	/*float: right;*/
}
#barwars {
	box-shadow: 8px 12px 32px black;
	height:400px;
	width:590px;
	/*float: left;*/
}

nav {
	background-color: black;
	/*background-image: url(../imgs/darktexture.jpg);*/
	/*background-image: url(http://www.publicdomainpictures.net/pictures/30000/velka/burnt-wood-texture.jpg);*/
	/*background: none;*/
}
footer {
	background-image: url(../imgs/darktexture.jpg);
}
.brand-logo {
	position: relative;
	top: -120px;
	margin-left: 3%;
}

#modal {
	margin: 4% 0 4% 33%;
	/*height: 400px;*/
	height: 350px;
	width: 350px;
	/*width: 400px;*/
	border-radius: 200%;
/*	position: relative;
	top: 70px;
	left: 440px;*/
}
#modalImage {

	height: 400px;
	width: 360px;
	border-radius: 200%;
	position: relative;
	right: 32px;
	bottom: 22px;
}
#modal1 {

	background-color: wheat;
	height: 530px;
	width: 530px;
	border-radius: 200%;
	text-align: center;
}

#creek {
	height: 200px;
	width: 200px;
	border-radius: 200%;
}


#skills {
	/*margin-top: 7%;*/
	background-image: url(../imgs/hintergrund-tapete-1454259975N2T.jpg);
	background-size: 1000px 100%;
}
.contactNav {
	margin-bottom: 3%;
}
#par {
	height: 200px;
}

